/* Variables Globales */

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root{
    --fuente-nav: 'Epilogue', sans-serif;
    --fuente-home: 'Poppins', sans-serif;
    --fuente-Manrope: 'Manrope', sans-serif;
    --color-principal: #3822E4;
}

header {
    height: 100vh;
}

nav{
    font-family: var(--fuente-nav);
    z-index: -1;
}

nav {
    color: white;
    font-size: 25px;
    height: 100px;
    /* position: fixed; */
}

nav .margen{
    background-color: #24FE7C;    
    height: 10px;
    width: 1900px;
    position: fixed;
    z-index: 10;
}

nav .margen-left{
    position: fixed;
    background-color: #24FE7C;    
    top: 0;
    width: 10px;
    height: 100vh;
    z-index: 10;
}

nav .margen-right{
    position: fixed;
    background-color: #24FE7C;    
    top: 0;
    right: 0px;
    width: 10px;
    height: 100vh;    
    z-index: 10;
}

nav .navbar{
    padding-top: 15px;
}

nav .margen-bottom{
    position: fixed;
    background-color: #24FE7C;    
    bottom: 0;
    width: 100%;
    height: 10px;
    z-index: 10;
}

nav .top{
    text-align: center;
    background-color: #3822E4;
    margin-top: 10px;
    padding: 5px 0;
    margin-bottom: 5px;
    position: fixed;
    width: 100%;
    z-index: 9;
    height: 38px;
}
nav .bot{
    text-align: center;
    background-color: #3822E4;
    padding: 5px 0;
    margin-bottom: 5px;
}

nav .bg-nav{
    background-color: #3822E4;
    padding: 15px 0;
    margin-bottom: 5px;
    text-align: center;
}

nav .left{
    width: 50px;
    margin-left: 20px;
}

nav .right{
    width: 50px;
    margin-right: 20px;
}

nav .about h2{
    padding: 0px 10px;
    width: 30px;
    word-wrap: break-word;
}

/*****************/

nav .navleft,
nav .navRight{
    position: fixed;
}

nav .navleft  a,
nav .navRight  a{
    text-decoration: none;
    color: white;
    left: 50px;
    font-size: 30px;
    font-weight: 600;
}

nav .navleft .about{
    position: relative;
    background-color: #3822E4;
    padding: 35px 0;
    width: 48px;
    height: 300px;
    top: 65px;
    left: 10px;
    text-align: center;
}

nav .navleft .about:hover{
    background-color: #D949F8;    
}
nav .navleft .services:hover{
    background-color: #D949F8;    
}
nav .navleft .socialMedia:hover{
    background-color: #D949F8;  
}
nav .navRight .contact:hover{
    background-color: #D949F8; 
}

nav .navRight .portfolio:hover{
    background-color: #D949F8;
}
nav .navRight .dark:hover{
    background-color: #D949F8;
}


nav .navleft .services{
    display: block;
    margin-top: 10px;
    position: relative;
    background-color: #3822E4;
    padding: 35px 0;
    width: 48px;
    top: 65px;
    left: 10px;
    text-align: center;
}

nav .navleft .socialMedia{
    display: block;
    position: relative;
    background-color: #3822E4;
    padding: 15px 0;
    width: 48px;
    top: 75px;
    height: 105px;
    left: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;    
    justify-content: center;
}

nav .down {
    background-color: #3822E4;
    bottom: 10px;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 9;
    height: 30px;
}

nav .navRight .contact{
    position: fixed;
    width: 48px;
    top: 65px;
    right: 10px;
    height: 350px;
    background: #3822E4;
    text-align: center;
    z-index: 9;
    padding: 20px 0;
}

nav .navRight .portfolio{
    display: block;
    position: fixed;
    width: 48px;
    height: 290px;
    top: 465px;
    right: 10px;
    background: #3822E4;
    text-align: center;
    z-index: 9;
    padding: 20px 0;
}

nav .navRight .dark{
    position: fixed;
    width: 48px;
    top: 805px;
    right: 10px;
    background-color: #3822E4;
    text-align: center;
    z-index: 9;
    padding: 10px 0;
    padding-bottom: 5px;
}

/**********/

nav .services{
    padding: 0;
}

nav .contact{
    padding: 0;    
}

nav .services h2 {
    padding: 17px 10px;
    width: 30px;
    word-wrap: break-word;
}

nav .contact h2{
    padding: 25px 10px;
    width: 30px;
    word-wrap: break-word;
    font-size: 30px;
}

nav .portfolio h2{
    padding: 17px 10px;
    width: 30px; /*22*/
    word-wrap: break-word;
    font-size: 30px;
}
nav .portfolio .h2{
    justify-content: center;
}

nav .menuRight{
    position: absolute;
    right: 0px;
    top: 75px;
}

nav .menuRight .portfolio{
    display: flex;
}

nav .socialMedia img{
    width: 30px;
    padding: 5px 0;
}

nav .socialMedia{
    padding: 8px 0;
}



/* Seccion Home */

.home {
    color: #3822E4;
    padding: 0 230px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.home .home-text2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.home .home-text img{
    padding-left: 285px;
}

.home .home-text .cabeza{
    font-family: var(--fuente-home);
    font-style: italic;
    font-size: 82.77px;
}

.home .home-text .pie {
    font-family: var(--fuente-Manrope);
    font-size: 69.87px;
    font-weight: 500;
    padding-top: 10px;
}   

.home .text{
    font-family: var(--fuente-Manrope);
    width: 427px;
    font-size: 28px;
    padding-top: 45px;
}

.home .botones {
    padding: 46px 150px;
}

.home .botones ul{
    list-style: none;
    color: #3822E4;

}

.home .botones{
    width: 320px;
}

.home .botones a{   
    text-decoration: none;
    font-family: var(--fuente-Manrope);
    font-size: 32.94px;
    font-weight: 500;
    color: #3822E4;    
    border: 1px solid #3822E4;
    padding: 5px 50px;
    border-radius: 25px;
}

.home .botones a:hover{
    background-color: #24FE7C;
}

.home .botones ul li{    
    border-color: #3822E4 !important;
    padding-bottom: 40px;
}

.home .icon{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.home .home-text2 .icon .img-bot img{
    position: relative;
    top: -30px;
    padding-left: 60px;
}

.home .home-text2 .icon{
    position: relative;
    top: 50px;
}

.home .icon .img-flecha img{
    position: relative;
    left: 170px;
    top: -130px;
}
.home .home-text2 .icon .icon-hover{
    position: relative;
    top: -30px;
    width: 300px;
    height: 350px;
    /* z-index: -1; */
}

.home .home-text2 .icon .icon-hover .icon-map{
    position: relative;
    top: 25px;
    left: 25px;
}

.home .home-text2 .icon .icon-hover:hover{
    border-radius: 100%;
    background-color: #24FE7C;
}

/* SECCION SELECTWORK*/

.container{
    padding: 0 230px;
}

.selecttWork{
    padding-top: 100px;
}

.selecttWork .title h2{
    color: var(--color-principal);
    font-family: var(--fuente-nav);
    font-size: 60px;
    font-weight: 900;
    padding-bottom: 50px;
}

.selecttWork .cards{
    display: flex;
    justify-content: space-between;
}

.selecttWork .cards .card {
    border: 1px solid rgba(0, 0, 0, 0.123);
    width: 650px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
    /* height: 550px; */
}

.selecttWork .cards .imgs{
    background-color: #EAD693;
    position: relative;
    width: 600px;
}

.selecttWork .cards .imgs .img1{
    position: absolute;
    top: 0;
    left: 50px;
}

.selecttWork .cards .imgs .img2{
    position: relative;
    top: 10px;
    left: 280px;
}

.selecttWork .cards .cards-text{
    color: var(--color-principal);
    font-family: var(--fuente-home);
}

.selecttWork .cards .cards-text h3{
    font-weight: 400;
}

.selecttWork .cards .cards-text{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selecttWork .cards {
    display: flex;
    /* justify-content: space-around; */
    columns: 2;
    padding-bottom: 120px;
}

.selecttWork .cards .card .imgss{
    background-color: white;
    height: 530px;
}

.selecttWork .cards .card .product2{
    width: 100%;
}

.card .imho{
    background: url(../icons/productos.svg) no-repeat;        
}

.card .imho:hover{
    background: url(../icons/git1.svg) no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 800px;
}

.card .imm{
    background: url(../icons/producto-3.svg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 800px;
}

.card .imm:hover{
    background: url(../icons/git2.svg) no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 800px;
}

/* #imagen-cambiante {
    min-height: 290px;
    min-width: 290px;
    background: url(http://programandoointentandolo.com/ejemplos/imagenes/cubo/img1.png) no-repeat;
}

#imagen-cambiante:hover {
    background: url(http://programandoointentandolo.com/ejemplos/imagenes/cubo/img6.png) no-repeat;
} */

.card .imgss img{
    width: 100%;
}

.card .imgss .img1 {
    position: relative;
    width: 450px;
    top: 30px;
    left: 20px;
}

.card .imgss .img2 {
    position: relative;
    width: 350px;
    top: -350px;
    left: 310px;
}
/* Carrusel */

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}
  
.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 18s linear infinite;
    animation-iteration-count: 1;    
    font-family: "Manuka";
    font-size: 50px;
    position: relative;
    top: -10px;
}
  
@keyframes marquee {
    0% {
      transform: translate(-49%, 0); /*-49 para pantalla completa al inicio*/ /*-17 para al inicio de pantalla*/
    }
    100% {
      transform: translate(-100%, 0);
    }
}

@font-face {
    font-family: "Manuka";
    src: url("../font/test-manuka-condensed-bold.woff2");
}

.marqueee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 100%;
}

.marqueee span {
    display: inline-block;
    padding-left: 100%;
    animation: marqueee 29.2s linear infinite;
    animation-delay: 0.48s;
    font-family: "Manuka";
    font-size: 50px;    
    position: relative;
    top: -15px;
    top: -10px;
    /* animation-iteration-count: 1; */
}

@keyframes marqueee {
    0% {
      transform: translate(0, 0); /*-49 para pantalla completa al inicio*/ /*-17 para al inicio de pantalla*/
    }
    100% {
      transform: translate(-100%, 0);
    }
}

.marquee3 {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 100%;
}

.marquee3 span {
    display: inline-block;
    padding-left: 100%;
    animation: marqueee 35s linear infinite;
    animation-delay: 12.2s;
    font-family: "Manuka";
    font-size: 50px;    
    position: relative;
    top: -10px;
    /* animation-iteration-count: 1; */
}
/* 
.top .izq{
    position: relative;
    right: 0;
} */

@keyframes marqueee31 {
    0% {
      transform: translate(0, 0); /*-49 para pantalla completa al inicio*/ /*-17 para al inicio de pantalla*/
    }
    100% {
      transform: translate(-100%, 0);
    }
}

/********* carrusel de abajo **********/
.marqueesbot {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: -5px;
}

.marqueesbot span{
    display: inline-block;
    padding-left: 100%;    
    animation: marqueesbot 12.8s linear infinite;
    animation-iteration-count: 1; 
    width: 100%;
    font-family: "Manuka";
    font-size: 50px; 
}

@keyframes marqueesbot {
    0% {
      transform: translate(-50%, 0);
    }
    100% {
      transform: translate(0, 0);
    }
}

.marquees {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: -5px;
}
  
.marquees span {
    display: inline-block;
    padding-left: 100%;
    animation: marquees 32.8s linear infinite;
    width: 100%;
    font-family: "Manuka";
    font-size: 50px;    
}
  
/* .marquees2 span {
    animation-delay: 17s;
} */
  
@keyframes marquees {
    0% {
      transform: translate(-100%, 0);
    }
    100% {
      transform: translate(0, 0);
    }
}

.marqueesfin {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: -5px;
}

.marqueesfin span {
    display: inline-block;
    padding-left: 100%;
    animation: marquees 32.1s linear infinite;
    animation-delay: 16.4s;
    width: 100%;
    font-family: "Manuka";
    font-size: 50px;    
}
  
/* Seccion Servicios*/

.servicess{
    height: 630px;
    padding: 100px 0;
}

.margen{
    padding: 0 100px;
}

.servicess .services-title{
    text-align: center;
}

.servicess .services-title h2{
    color: #3822E4;
    font-family: var(--fuente-home);
    font-size: 75px;
    font-weight: 800;
    padding-bottom: 50px;
}

.servicess .servicess-title .titlebran{
    margin-top: 15px;
}

.servicess .services-cards .service-card{
    width: 342px;
    height: 413.81px;
    border: 3px solid #3822E4;
    border-radius: 25px;
    text-align: center;
}

.servicess .services-cards .service-card .servicess-img{
    height: 280px;    
    position: relative;
}
.servicess .services-cards .service-card .servicess-img img{
    padding-top: 30px;
}

.servicess .services-cards .service-card .servicess-img .flecha2{
    position: absolute;
    top: 150px;
    left: 70px;
}

.servicess .services-cards .service-card h2{
    color: #3822E4;
    font-family: var(--fuente-home);
    font-size: 52.76px;
}

.services-cards{
    display: flex;
    justify-content: space-around;
}

.servicess .services-cards .service-card .servicess-img .pergam{
    position: absolute;
    left: 110px;
}

.servicess .services-cards .service-card .servicess-img .flecha3{
    position: absolute;
    top: 100px;
    left: 60px;
}

.servicess .services-cards .service-card .servicess-img .flecha4{
    position: absolute;
    top: 190px;
    left: 175px;
}

.servicess .services-cards .service-card .card1{
    display: none;
}

.service-card:hover{
    background-color: yellow;
        
}

/* .servicess .services-cards .service-card .servicess-img{
    /* display: none; 
} */

.servicess .services-cards .service-card .card1{
    border-radius: 15px;
    background-color: #3822E4;
    height: 413.81px;
    text-align: left;
}

.servicess .services-cards .service-card .card1 h2{
    color: white;
    font-style: italic;
    font-size: 46.37px;
    padding: 30px 40px;
}

.servicess .services-cards .service-card .card1 ul{
    color: white;
    text-align: none;
    list-style-image: url('../icons/icono-list.svg');
    padding: 0 60px;    
}

.servicess .services-cards .service-card .card1 ul li {
    font-size: 23.18px;
}



.servicess .services-cards .service-card .card1 .card1-button a{    
    /* text-align: none; */
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 0 18px;
    position: relative;
}

.servicess .services-cards .service-card .card1 .card1-button h3 {
    color: #3822E4;
    /* width: 200px; */
    padding-top: 18px;
    font-family: var(--fuente-nav);
    font-size: 23px;
    font-weight: 800;
}

.servicess .services-cards .service-card .card1 .card1-button img{
    padding-top: 3px;
}
.servicess .services-cards .service-card .card1 .card1-button .flecha{
    position: absolute;
    padding-top: 20px;
    left: 70px;
}

.servicess .services-cards .service-card .card1 .card1-button{
    background-color: white;
    height: 53px;
    margin: 40px 20px;
    border-radius: 20px;
}

.servicess .services-cards .service-card .card1 .card1-button:hover{
    background-color: #24FE7C;
}

/* Seccion digital */

.digital{
    height: 650px;
    padding-top: 100px;   
    text-align: center;
}

.digital h2{
    color: var(--color-principal);
    font-family: var(--fuente-home);
    font-size: 75px;
    font-weight: 800;
    padding-bottom: 50px;
}

.digital p{
    font-family: var(--fuente-Manrope);
    color: var(--color-principal);
    font-size: 37.53px;
    padding: 0 90px;
}

.digital .digital-text{
    justify-content: center;
}

.digital .digital-text img{
    padding-top: 60px;
}

/* Seccion partnerds*/

.partnerds{
    height: 800px;
    padding: 50px 0;    
    text-align: center;
}

.partnerds .partnerds-logo {
    padding-bottom: 50px;
}

.partnerds .items {
    display: flex;
    justify-content: space-between;
    /* padding-top: 50px; */
}

.partnerds .imgpad img{
    padding: 0 50px;
}

.partnerds .pad{
    padding: 15px 20px;
}


.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}
  
.box {
    /* background-color: #444; */
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.partnerds .partnerds-logo{
    width: 40%;
}

.partnerds .f img{
    position: relative;
    top: 20px;
}

.partnerds .h {
    position: relative;
}

.partnerds .h img{
    position: absolute;
    top: -10px;
}


.wrap{
	width: 1100px;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tarjeta-wrap{
	margin: 20px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
	width: 300px;
	height: 365px;
	background: white;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
    border: 3px solid #3822E4;
    border-radius: 25px;
}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}


.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
    height: 336px;
    width: 271px;
	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	color: #fff;
    background: #3822E4;
    border-radius: 20px;    
}

.atras a{
    color: white;
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/* .card1{
	background-image: url(http://1.1m.yt/J9Kw7kl.jpg);
	background-size: cover;
}

.card2{
	background-image: url(http://1.1m.yt/dlxMf3R.jpg);
	background-size: cover;
}

.card3{
	background-image: url(http://3.1m.yt/EUB_xE.jpg);
	background-size: cover;
} */

.wrap .tarjeta .adelante .servicess-img{
    text-align: center;
    margin: 25px;
    padding-top: 10px;
}

.wrap .tarjeta .adelante .servicess-img .flecha2{
    position: absolute;
    top: 168px;
    left: 55px;
}

.wrap .tarjeta .adelante .servicess-img h2{
    color: #3822E4;
    font-family: var(--fuente-nav);
    font-size: 50px;
    /* padding-top: px; */
}

.wrap .tarjeta .adelante .servicess-img .icon-brand{
    width: 208px;
}

.wrap .tarjeta .atras .card1 h2{
    font-weight: 600;
}

.wrap .tarjeta .atras .card1 {
    text-align: left;
    padding-left: 10px;
}

.wrap .tarjeta .atras .card1 h2{
    font-family: var(--fuente-nav);
    font-style: italic;
    font-size: 40px;
}

.wrap .tarjeta .atras .card1 ul{
    color: #24FE7C;
    text-align: none;
    list-style-image: url('../icons/icono-list.svg');
    padding: 15px 25px;
}

.wrap .tarjeta .atras .card1 ul li{
    font-family: var(--fuente-Manrope);
    font-size: 20px;
    margin-bottom: 10px;
}

.wrap .tarjeta .atras .card1-button {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.wrap .tarjeta .atras .card1-button:hover {
    background-color: #24FE7C;
}

.wrap .tarjeta .atras a{
    color: #3822E4;
    text-decoration: none;
    font-family: var(--fuente-nav);
    padding: 0 10px;
}

.wrap .tarjeta .atras a h3{
    position: relative;
    top: -15px;
    display: inline-block;
    width: 150px;
}

.wrap .tarjeta .atras a .flecha{
    position: relative;
    top: -10px;
    left: -4px;
}

.wrap .tarjeta .adelante .ux .icon-brand{
    width: 150px;
    position: relative;
    /* left: 1100px; */
    right: -40px;
}


.wrap .tarjeta .adelante .ux .flecha2{
    position: absolute;
    top: 130px;
    left: 55px;
}

.wrap .tarjeta .atras .ux h2{
    width: 50px;
}

.wrap .tarjeta .atras .ux .card1-button{
    margin-top: 20px;
}

.wrap .tarjeta .atras .ux .card1-button a{
    padding: 0 19px;
}

.wrap .tarjeta .adelante .creation .icon-brand{
    width: 180px;
}

.wrap .tarjeta .adelante .creation .flecha2 {
    position: absolute;
    top: 190px;
    left: 150px;
}

.wrap .tarjeta .adelante .creation h2{
    margin-top: 60px;
}

.wrap .tarjeta .atras .creation .imgbut{
    padding: 5px 0;
    width: 40px;
}





