/* Variables Globales */

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root{
    --fuente-nav: 'Epilogue', sans-serif;
    --fuente-home: 'Poppins', sans-serif;
    --fuente-Manrope: 'Manrope', sans-serif;
    --color-principal: #3822E4;
}

header {
    height: 100vh;
}

nav{
    font-family: var(--fuente-nav);
    z-index: -1;
}

nav {
    color: white;
    font-size: 25px;
    height: 100px;
    position: fixed;
}

nav .margen{
    background-color: #24FE7C;    
    height: 20px;
    width: 1900px;
}

nav .margen-left{
    position: absolute;
    background-color: #24FE7C;    
    top: 0;
    width: 20px;
    height: 100vh;
}

nav .margen-right{
    position: absolute;
    background-color: #24FE7C;    
    top: 0;
    right: 0px;
    width: 20px;
    height: 100vh;    
}

nav .margen-bottom{
    position: absolute;
    background-color: #24FE7C;    
    top: 950px;
    width: 100%;
    height: 20px;
}

nav .top{
    text-align: center;
    background-color: #3822E4;
    padding: 5px 0;
    margin-bottom: 5px;
}
nav .bot{
    text-align: center;
    background-color: #3822E4;
    padding: 5px 0;
    margin-bottom: 5px;
}

nav .bg-nav{
    background-color: #3822E4;
    padding: 15px 0;
    margin-bottom: 5px;
    text-align: center;
}

nav .left{
    width: 50px;
    margin-left: 20px;
}

nav .right{
    width: 50px;
    margin-right: 20px;
}

nav .about h2{
    padding: 17px 10px;
    width: 30px;
    word-wrap: break-word;
}

nav .about {
    padding: 7px 0;
}

nav .services{
    padding: 0;
}

nav .contact{
    padding: 0;    
}

nav .services h2 {
    padding: 17px 10px;
    width: 30px;
    word-wrap: break-word;
}

nav .contact h2{
    padding: 25px 10px;
    width: 30px;
    word-wrap: break-word;
    font-size: 30px;
}

nav .portfolio h2{
    padding: 17px 10px;
    width: 30px; /*22*/
    word-wrap: break-word;
    font-size: 30px;
}
nav .portfolio .h2{
    justify-content: center;
}

nav .menuRight{
    position: absolute;
    right: 0px;
    top: 75px;
}

nav .menuRight .portfolio{
    display: flex;
}

nav .socialMedia img{
    width: 30px;
    padding: 5px 0;
}

nav .socialMedia{
    padding: 8px 0;
}



/* Seccion Home */

.home {
    color: #3822E4;
    padding: 0 230px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}


.home .home-text2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.home .home-text img{
    padding-left: 285px;
}

.home .home-text .cabeza{
    font-family: var(--fuente-home);
    font-style: italic;
    font-size: 82.77px;
}

.home .home-text .pie {
    font-family: var(--fuente-Manrope);
    font-size: 69.87px;
    font-weight: 500;
    padding-top: 10px;
}   

.home .text{
    font-family: var(--fuente-Manrope);
    width: 427px;
    font-size: 28px;
    padding-top: 45px;
}

.home .botones {
    padding: 46px 150px;
}

.home .botones ul{
    list-style: none;
    color: #3822E4;

}

.home .botones{
    width: 320px;
}

.home .botones a{   
    text-decoration: none;
    font-family: var(--fuente-Manrope);
    font-size: 32.94px;
    font-weight: 500;
    color: #3822E4;    
    border: 1px solid #3822E4;
    padding: 5px 50px;
    border-radius: 25px;
}

.home .botones a:hover{
    background-color: #24FE7C;
}

.home .botones ul li{    
    border-color: #3822E4 !important;
    padding-bottom: 40px;
}

.home .icon{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.home .home-text2 .icon .img-bot img{
    position: relative;
    top: -30px;
    padding-left: 60px;
}

.home .home-text2 .icon{
    position: relative;
    top: 50px;
}

.home .icon .img-flecha img{
    position: relative;
    left: 170px;
    top: -130px;
}

/* SECCION SELECTWORK*/

section{
    height: calc(100vh - 180px);
    padding: 50px 0;
}

.container{
    padding: 0 230px;
}

.selecttWork .title h2{
    color: var(--color-principal);
    font-family: var(--fuente-nav);
    font-size: 60px;
    font-weight: 900;
    padding-bottom: 20px;
}

.selecttWork .cards{
    display: flex;
    justify-content: space-between;
}

.selecttWork .cards .card {
    border: 1px solid rgba(0, 0, 0, 0.103);
    width: 542px;
}

.selecttWork .cards .imgs{
    background-color: #EAD693;
    position: relative;
    width: 600px;
}

.selecttWork .cards .imgs .img1{
    position: absolute;
    top: 0;
    left: 50px;
}

.selecttWork .cards .imgs .img2{
    position: relative;
    top: 10px;
    left: 280px;
}

.selecttWork .cards .cards-text{
    color: var(--color-principal);
    font-family: var(--fuente-home);
}

.selecttWork .cards .cards-text h3{
    font-weight: 400;
}

.selecttWork .cards .cards-text{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selecttWork .cards {
    display: flex;
    justify-content: space-around;
    columns: 2;
    padding-bottom: 80px;
}

.selecttWork .cards .card .imgss{
    background-color: #EAD693;
    height: 443px;
}

.card .imgss .img1 {
    position: relative;
    top: 10px;
    left: 20px;
}

.card .imgss .img2 {
    position: relative;
    top: -300px;
    left: 260px;
}









